@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission6Assignment.Models.MoviesResponse

<h2>Movie has been received. Thank you!.</h2>
<h3>
    Submit another movie by clicking <a asp-area="" asp-controller="Home" asp-action="MoviesForm">here</a>
</h3>