@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <p>Learn about <a href="https://baconsale.com/">Check out the Baconsale website!!</a>.</p>
</div>
