@{
    ViewData["Title"] = "My Podcasts";
}

<!-- This page contains a link to Joel's podcast website Baconsale. -->

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <h3>I am part of an awesome podcast called Baconsale!</h3>
    <p>Check out the Baconsale website <a href="https://baconsale.com/">here!!</a></p>
</div>
